<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Robots</h1>
	<ul>
		<%for(let i = 0; i < Robots.length; i++){%>
			<li>
				Name:<a href="/robots/<%=Robots[i]._id%>"><%=Robots[i].name%></a> 
			</li>
			<li>
				Color:<%=Robots[i].color%>
			</li>
	<%}%>
	</ul>
</body>
</html>


