<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Robots</h1>
	<ul>
		<%for(let i = 0; i < Robots.length; i++){%>
			<li>
				Name: <%=Robots[i].name%>
			</li>
			<li>
				Color:<%=Robots[i].color%>
			</li>
	<%}%>
	</ul>
</body>
</html>