<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>New Robot Page</h1>
	<form action="/robots" method="POST">
            Name: <input type="text" name="name" /><br/>
            Color: <input type="text" name="color" /><br/>
            <input type="submit" name="" value="Create Robot"/>
        </form>
</body>
</html>