<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Show Page </h1>
	<ul>
		<li><%=Robot.name%></li>
		<li><%=Robot.color%></li>
	</ul>
	
		<a href="/robots/<%=Robot._id%>/edit">Click Here to Edit</a> 

	

</body>
</html>